.letttt {
  color: #9366ab;
  background-color: #6a930c25;
  font-size: 25px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(80, 118, 96);
}

th,
td {
  padding: 20px;
  border: 3px solid rgb(80, 118, 96);
}

.table-head {
  color: #dee5ed;
  text-shadow: 1px 1px 1px black;
  background: linear-gradient(to bottom, rgb(0 0 0 / 10%), rgb(0 0 0 / 50%));
  border: 3px solid rgb(80, 118, 96);
}

.test-pp {
  font-size: 25px;
  background-color: #9366ab;
}

.test-p {
  font-size: 15px;
  background-color: aqua;
}

body {
  background-image: url(../img/plantatsiia_ris_selskoe_hoziajstvo_128917_2560x1440.jpg);
  background-size: 100%;
}

ul {
  list-style: none;
  margin: 0 0 0 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
}

li {
  flex: 200px;
}

a {
  text-decoration: none;
}
