@import url(fonts.css);

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  font-family:"TT Lakes", sans-serif;
  font-size: 14px;
  list-style-type: none;
  text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: ;
}

.header__menu::after {
    content: url(../img/divider.svg);
    height: 32px;
    border: 0px #EAEAEA solid;
  }

ul {
    list-style: none;
}

.button {
    border: none;
    background-color: transparent;
}
.button__burger {
}

.header__logo {
}



.header__right {
}

.header__communication {
    display: none;
}

.header__services {
    display: flex;
    gap: 16px;
}


.main {
}
.main__services {
}

@font-face {
    font-family: 'TT Lakes-Bold';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Bold.woff') format('woff'),
        url('TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.main__title {
    font-family: 'TT Lakes-Bold', sans-serif;
    font-size: 28px;
    line-height: 40px;

}
.main__application {
}
.main__repair {
}
.main__checkstatus {
}
.main__navigation {
}
.main__navigation--list {
}
.main__navigation--item {
}
.main__navigation--href {
}
.main__content {
}
.main__about-us {
}
.main__text-1 {
}
.main__text-2 {
}
.main__text-3 {
}
.main__button {
}
.main__button--img {
}
.main__button--text {
}
